<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>101394805320-a686q4hu820mv8tsp7pq89e7v2h3bk0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101394805320-a686q4hu820mv8tsp7pq89e7v2h3bk0n</string>
	<key>API_KEY</key>
	<string>AIzaSyB5iK14idCJE7k9PljI_2orQlcS_1tOxIw</string>
	<key>GCM_SENDER_ID</key>
	<string>101394805320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucaloforte.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-6f6e6</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-6f6e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101394805320:ios:84c94379311c9801</string>
	<key>DATABASE_URL</key>
	<string>https://artable-6f6e6.firebaseio.com</string>
</dict>
</plist>